/*-buttons-*/
.btn-primary {
    background-color: rgb(0, 0, 0) !important;
    border-color: #d9e7b0 !important;
    color: #d9e7b0 !important;
  }
  
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #155d74 !important;
    border-color: #155d74 !important;
  }
  
  .btn-secondary {
    background-color: rgb(0, 0, 0) !important;
    border-color: #d9e7b0 !important;
    color: #d9e7b0 !important;
  }
  
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #ba9106 !important;
    border-color: #ba9106 !important;
  }
  
  .btn-dark {
    color: #fff !important;
  }
  
  .btn {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    font-weight: 700;
  }
  
  .bg-primary {
    background-color: #1D809F !important;
  }










  /*- button on the landing page-*/
.btn-xl {
  padding: 1.25rem 2.5rem;
}


/*- button: scroll back to the landing page-*/
#btn-home {
  padding : 0.3vw 0.7vw;
  background-color: #def0de !important;
  color:rgb(0, 0, 0) !important;
  position: relative;
  bottom : 20px;
  font-size: 13px;
  font-family: 'Michroma';
  border-color: rgb(0, 0, 0) !important;
}

#btn-home:hover {
  background-color: rgb(0, 0, 0) !important;
  color:#def0de !important;
  border-color: #def0de !important;
}